In [1]:
%load_ext autoreload
%autoreload 2

In [189]:
import pandas as pd 
import numpy as np
import json
from datetime import datetime 

from api_wrapper import alph_settings as alph, val_steps as val, alph_api_wrapper as wrap, threading
from preproc import filters

In [111]:
settings = alph(
    apikey = "MD27QTTVAK3AJBUQ", 
    site = "https://www.alphavantage.co/query?", 
    date_range = [datetime(2016, 8, 9), datetime(2022, 8, 9)]
    )

In [112]:
#get tickers that are valid across the past six years
tker_dict = val.get_tkers(settings)
valid_lst = val.get_valid_tkers(tker_dict, pretty_print = False)

In [192]:
#filtering the tickers we want for analysis 
raw_df = pd.DataFrame(valid_lst, columns = ["ticker", "name", "exchange", "type", "date", "delist", "status"])
type_filt = "Stock" 
exchange_filt = "NYSE"
raw_df = raw_df.query("type == @type_filt")
raw_df = raw_df.query("exchange == @exchange_filt")
display(raw_df)

#list of tickers to work on for now
temp_lst = raw_df["ticker"].tolist()[:100]

,ticker,name,exchange,type,date,delist,status
5,BGSF,BGSF Inc,NYSE,Stock,2014-04-29,null,Active
11,GS-P-J,Goldman Sachs Group Inc,NYSE,Stock,2013-04-22,null,Active
13,TKC,Turkcell Iletisim Hizmetleri A.S.,NYSE,Stock,2000-07-11,null,Active
16,DRH,Diamondrock Hospitality Company,NYSE,Stock,2005-05-26,null,Active
18,GHL,Greenhill & Co Inc,NYSE,Stock,2004-05-06,null,Active
...,...,...,...,...,...,...,...
5570,JNPR,Juniper Networks Inc,NYSE,Stock,1999-06-25,null,Active
5578,AME,Ametek Inc,NYSE,Stock,1984-07-19,null,Active
5581,DEO,Diageo plc,NYSE,Stock,1996-05-13,null,Active
5587,SMFG,Sumitomo Mitsui Financial Group Inc,NYSE,Stock,2006-01-27,null,Active
5588,MHK,Mohawk Industries Inc,NYSE,Stock,1992-04-01,null,Active

In [193]:
#get latest ticker info
ticker_info_url = wrap.get_general_url(settings, ticker_lst = temp_lst, output = "lst", datatype = "csv", function = "OVERVIEW")
ticker_info_data = threading.thrd_json_data(ticker_info_url, key_lst = ["MarketCapitalization"], wrapper_function = wrap.get_json_data)

Total time elapsed: 4.242727041244507 seconds

In [221]:
import requests, json
url = 'https://www.alphavantage.co/query?function=OVERVIEW&output=json&symbol=IBM&apikey=MD27QTTVAK3AJBUQ'
r = requests.get(url)
data = r.json()
#print(data.keys())
lst = ['FiscalYearEnd', 'LatestQuarter', 'MarketCapitalization', 'EBITDA', 'PERatio', 'PEGRatio', 'BookValue', 'DividendPerShare', 'DividendYield', 'EPS', 'RevenuePerShareTTM', 'ProfitMargin', 'OperatingMarginTTM', 'ReturnOnAssetsTTM', 'ReturnOnEquityTTM', 'RevenueTTM', 'GrossProfitTTM', 'DilutedEPSTTM', 'QuarterlyEarningsGrowthYOY', 'QuarterlyRevenueGrowthYOY', 'AnalystTargetPrice', 'TrailingPE', 'ForwardPE', 'PriceToSalesRatioTTM', 'PriceToBookRatio', 'EVToRevenue', 'EVToEBITDA', 'Beta']

['FiscalYearEnd',
 'LatestQuarter',
 'MarketCapitalization',
 'EBITDA',
 'PERatio',
 'PEGRatio',
 'BookValue',
 'DividendPerShare',
 'DividendYield',
 'EPS',
 'RevenuePerShareTTM',
 'ProfitMargin',
 'OperatingMarginTTM',
 'ReturnOnAssetsTTM',
 'ReturnOnEquityTTM',
 'RevenueTTM',
 'GrossProfitTTM',
 'DilutedEPSTTM',
 'QuarterlyEarningsGrowthYOY',
 'QuarterlyRevenueGrowthYOY',
 'AnalystTargetPrice',
 'TrailingPE',
 'ForwardPE',
 'PriceToSalesRatioTTM',
 'PriceToBookRatio',
 'EVToRevenue',
 'EVToEBITDA',
 'Beta']

In [194]:
daily_urls = wrap.get_general_url(settings, datatype = "csv", ticker_lst = temp_lst, output = "lst", function = "TIME_SERIES_DAILY_ADJUSTED")
daily_data = threading.thrd_csv_data(daily_urls)

Total time elapsed: 25.095728874206543 seconds

In [211]:
testing = filters.daily_filter(settings, daily_data)
display(testing["BGSF"])

      timestamp  adjusted_close  volume
0    2022-08-09       12.368331   22943
1    2022-08-08       12.625387   33562
2    2022-08-05       12.902216   21231
3    2022-08-04       13.129612   42283
4    2022-08-03       12.724255   12741
...         ...             ...     ...
1490 2016-08-16       13.088580   65468
1491 2016-08-15       13.313469   96543
1492 2016-08-12       13.171039  101084
1493 2016-08-10       13.950657  154265
1494 2016-08-09       14.467903  305904

[1495 rows x 3 columns]

In [217]:
from preproc import make_dfs as df

pivot = df.pivot_data(testing)
display(pivot)

,1,2,3,4,5,6,7,8,9,10,...,2981,2982,2983,2984,2985,2986,2987,2988,2989,2990
0,,,,,,,,,,,,,,,,,,,,,
SUPV,1.710000,1.790000,1.810000,1.680000,1.700000,1.640000,1.690000,1.720000,1.670000,1.580000,...,195692,85849,320715,436921,43803,110219,278999,228546,74152,342065
GS-P-J,24.310026,24.457957,24.477681,24.645336,24.694647,24.714371,24.783405,24.734095,24.655198,24.349474,...,73827,53553,66223,82248,63611,79565,101893,79444,148313,153219
FPI,14.519912,14.519912,14.141737,14.121833,14.778663,14.778663,14.878183,14.768711,14.450248,14.340777,...,98178,108093,159272,59952,65814,156703,140746,58422,50396,46923
SO,77.574746,76.523893,76.603203,77.297162,76.593289,75.274766,76.018294,76.226482,75.185543,72.627807,...,3655715,4830885,6552814,7694959,21767980,5030157,4124547,3190805,5836874,4201527
TKC,2.390000,2.490000,2.370000,2.360000,2.360000,2.380000,2.400000,2.390000,2.350000,2.380000,...,215640,267690,144818,234982,134990,155717,135193,172215,293123,179163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
RDY,52.910000,53.170000,52.660000,52.440000,52.090000,51.380000,51.480000,51.124181,51.948125,54.003019,...,270752,81019,126623,170494,589004,108743,88848,143069,212704,290566
SR,74.018663,72.711403,71.612116,72.453912,72.978797,73.414550,74.394995,74.513837,73.681944,71.473467,...,117515,119042,173809,203301,136745,258018,220969,135428,189415,165287
CPA,71.950000,73.240000,72.640000,73.090000,69.290000,67.040000,67.860000,67.220000,67.040000,66.380000,...,397717,330063,618947,526402,965264,685789,435418,598943,398252,453241
PBH,57.230000,59.400000,59.350000,58.970000,59.540000,60.120000,61.120000,60.310000,60.770000,60.410000,...,423263,367521,281592,381978,366495,383256,701508,1154010,766753,541916
MSM,82.530000,82.320000,82.070000,82.110000,82.180000,81.500000,82.440000,82.660000,80.920000,79.730000,...,244925,246788,511726,362145,530756,359662,608001,1003646,522254,597401

,0,1,2,3,4,5,6,7,8,9,...,2981,2982,2983,2984,2985,2986,2987,2988,2989,2990
0,SUPV,1.710000,1.790000,1.810000,1.680000,1.700000,1.640000,1.690000,1.720000,1.670000,...,195692,85849,320715,436921,43803,110219,278999,228546,74152,342065
1,GS-P-J,24.310026,24.457957,24.477681,24.645336,24.694647,24.714371,24.783405,24.734095,24.655198,...,73827,53553,66223,82248,63611,79565,101893,79444,148313,153219
2,FPI,14.519912,14.519912,14.141737,14.121833,14.778663,14.778663,14.878183,14.768711,14.450248,...,98178,108093,159272,59952,65814,156703,140746,58422,50396,46923
3,SO,77.574746,76.523893,76.603203,77.297162,76.593289,75.274766,76.018294,76.226482,75.185543,...,3655715,4830885,6552814,7694959,21767980,5030157,4124547,3190805,5836874,4201527
4,TKC,2.390000,2.490000,2.370000,2.360000,2.360000,2.380000,2.400000,2.390000,2.350000,...,215640,267690,144818,234982,134990,155717,135193,172215,293123,179163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,RDY,52.910000,53.170000,52.660000,52.440000,52.090000,51.380000,51.480000,51.124181,51.948125,...,270752,81019,126623,170494,589004,108743,88848,143069,212704,290566
96,SR,74.018663,72.711403,71.612116,72.453912,72.978797,73.414550,74.394995,74.513837,73.681944,...,117515,119042,173809,203301,136745,258018,220969,135428,189415,165287
97,CPA,71.950000,73.240000,72.640000,73.090000,69.290000,67.040000,67.860000,67.220000,67.040000,...,397717,330063,618947,526402,965264,685789,435418,598943,398252,453241
98,PBH,57.230000,59.400000,59.350000,58.970000,59.540000,60.120000,61.120000,60.310000,60.770000,...,423263,367521,281592,381978,366495,383256,701508,1154010,766753,541916
99,MSM,82.530000,82.320000,82.070000,82.110000,82.180000,81.500000,82.440000,82.660000,80.920000,...,244925,246788,511726,362145,530756,359662,608001,1003646,522254,597401

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

#PCA logic flow 

#Step 1: get the standardised features
x = df (with the features from the dataframe)
# Standardizing the features
x = StandardScaler().fit_transform(x)

#Step 2: feeed standardadised features into the PCA
#We can experiment with different PCA n later? 
pca = PCA(n_components=2)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents, columns = ["pc1", "pc2"])

#Step 3: Check if explained variance is good enough
print(pca.explained_variance_ratio_)

#Step 4: 
Visualisation for slides idk

In [117]:
daily_data.keys()

dict_keys(['SUPV', 'GS-P-J', 'BGSF', 'FPI', 'JBT', 'TKC', 'DRH', 'GHL', 'UNFI', 'SRE', 'MCS', 'SO', 'BML-P-H', 'USB-P-A', 'REX', 'EGP', 'SJW', 'MTRN', 'ETD', 'MUFG', 'PB', 'GJR', 'GDOT', 'TFC', 'SNA', 'RGA', 'F', 'IBM', 'LTC', 'YRD', 'BC', 'BSBR', 'GSK', 'MTN', 'CHU', 'NUS', 'RZB', 'PII', 'IDA', 'LN', 'GNL', 'J', 'AWI', 'PRG', 'SOL', 'DRD', 'FNF', 'WTI', 'IRS', 'C'])

KeyError: "None of ['timestamp'] are in the columns"

In [91]:
import requests, json

url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=IBM&apikey=demo'
r = requests.get(url)
data = r.json()

print(data)

{'Meta Data': {'1. Information': 'Daily Time Series with Splits and Dividend Events', '2. Symbol': 'IBM', '3. Last Refreshed': '2022-10-27', '4. Output Size': 'Compact', '5. Time Zone': 'US/Eastern'}, 'Time Series (Daily)': {'2022-10-27': {'1. open': '135.55', '2. high': '136.4', '3. low': '134.445', '4. close': '134.77', '5. adjusted close': '134.77', '6. volume': '3993168', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-26': {'1. open': '133.72', '2. high': '135.863', '3. low': '132.81', '4. close': '135.01', '5. adjusted close': '135.01', '6. volume': '5140023', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-25': {'1. open': '132.0', '2. high': '133.3', '3. low': '131.3', '4. close': '132.93', '5. adjusted close': '132.93', '6. volume': '5957623', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-24': {'1. open': '130.9', '2. high': '133.11', '3. low': '129.85', '4. close': '132.69', '5. adjusted close': '132.69', '6. volume': '5610914', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-21': {'1. open': '128.39', '2. high': '130.845', '3. low': '127.59', '4. close': '129.9', '5. adjusted close': '129.9', '6. volume': '7201256', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-20': {'1. open': '126.25', '2. high': '128.96', '3. low': '125.15', '4. close': '128.3', '5. adjusted close': '128.3', '6. volume': '13623115', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-19': {'1. open': '122.36', '2. high': '123.94', '3. low': '121.9875', '4. close': '122.51', '5. adjusted close': '122.51', '6. volume': '5906576', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-18': {'1. open': '123.0', '2. high': '123.94', '3. low': '121.82', '4. close': '122.94', '5. adjusted close': '122.94', '6. volume': '5120336', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-17': {'1. open': '121.8', '2. high': '122.875', '3. low': '121.43', '4. close': '121.52', '5. adjusted close': '121.52', '6. volume': '5458585', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-14': {'1. open': '121.8', '2. high': '122.54', '3. low': '119.84', '4. close': '120.04', '5. adjusted close': '120.04', '6. volume': '3763840', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-13': {'1. open': '116.1', '2. high': '122.15', '3. low': '115.545', '4. close': '121.79', '5. adjusted close': '121.79', '6. volume': '5837645', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-12': {'1. open': '118.0', '2. high': '118.81', '3. low': '117.2', '4. close': '117.57', '5. adjusted close': '117.57', '6. volume': '3338754', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-11': {'1. open': '117.46', '2. high': '119.23', '3. low': '116.94', '4. close': '117.8', '5. adjusted close': '117.8', '6. volume': '4043265', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-10': {'1. open': '119.79', '2. high': '119.96', '3. low': '117.04', '4. close': '117.75', '5. adjusted close': '117.75', '6. volume': '5990008', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-07': {'1. open': '121.5', '2. high': '121.8016', '3. low': '118.07', '4. close': '118.82', '5. adjusted close': '118.82', '6. volume': '4499672', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-06': {'1. open': '124.88', '2. high': '125.3', '3. low': '121.77', '4. close': '122.23', '5. adjusted close': '122.23', '6. volume': '5074624', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-05': {'1. open': '124.71', '2. high': '126.46', '3. low': '124.23', '4. close': '125.74', '5. adjusted close': '125.74', '6. volume': '3212872', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-04': {'1. open': '122.8', '2. high': '125.65', '3. low': '122.52', '4. close': '125.5', '5. adjusted close': '125.5', '6. volume': '4566055', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-10-03': {'1. open': '120.16', '2. high': '122.21', '3. low': '119.6', '4. close': '121.51', '5. adjusted close': '121.51', '6. volume': '4261729', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-30': {'1. open': '121.66', '2. high': '122.43', '3. low': '118.61', '4. close': '118.81', '5. adjusted close': '118.81', '6. volume': '5346108', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-29': {'1. open': '121.85', '2. high': '122.62', '3. low': '120.57', '4. close': '121.63', '5. adjusted close': '121.63', '6. volume': '3817723', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-28': {'1. open': '121.65', '2. high': '123.23', '3. low': '119.81', '4. close': '122.76', '5. adjusted close': '122.76', '6. volume': '4996378', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-27': {'1. open': '122.6', '2. high': '123.95', '3. low': '121.08', '4. close': '121.74', '5. adjusted close': '121.74', '6. volume': '4117215', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-26': {'1. open': '122.3', '2. high': '124.26', '3. low': '121.75', '4. close': '122.01', '5. adjusted close': '122.01', '6. volume': '3987817', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-23': {'1. open': '124.53', '2. high': '125.0', '3. low': '121.74', '4. close': '122.71', '5. adjusted close': '122.71', '6. volume': '5195693', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-22': {'1. open': '124.76', '2. high': '126.51', '3. low': '124.41', '4. close': '125.31', '5. adjusted close': '125.31', '6. volume': '4038335', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-21': {'1. open': '126.89', '2. high': '127.84', '3. low': '124.92', '4. close': '124.93', '5. adjusted close': '124.93', '6. volume': '3389545', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-20': {'1. open': '126.9', '2. high': '126.99', '3. low': '125.52', '4. close': '126.3', '5. adjusted close': '126.3', '6. volume': '2837485', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-19': {'1. open': '126.49', '2. high': '128.06', '3. low': '126.28', '4. close': '127.73', '5. adjusted close': '127.73', '6. volume': '3981606', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-16': {'1. open': '124.36', '2. high': '127.53', '3. low': '123.83', '4. close': '127.27', '5. adjusted close': '127.27', '6. volume': '9839696', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-15': {'1. open': '127.39', '2. high': '127.465', '3. low': '124.9', '4. close': '125.49', '5. adjusted close': '125.49', '6. volume': '5141671', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-14': {'1. open': '127.5', '2. high': '129.0', '3. low': '126.845', '4. close': '127.69', '5. adjusted close': '127.69', '6. volume': '3819067', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-13': {'1. open': '129.14', '2. high': '129.909', '3. low': '126.7709', '4. close': '127.25', '5. adjusted close': '127.25', '6. volume': '4565585', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-12': {'1. open': '130.33', '2. high': '130.99', '3. low': '129.89', '4. close': '130.66', '5. adjusted close': '130.66', '6. volume': '3741168', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-09': {'1. open': '128.9', '2. high': '129.49', '3. low': '128.06', '4. close': '129.19', '5. adjusted close': '129.19', '6. volume': '3293365', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-08': {'1. open': '127.2', '2. high': '128.54', '3. low': '126.59', '4. close': '128.47', '5. adjusted close': '128.47', '6. volume': '2964613', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-07': {'1. open': '126.69', '2. high': '127.8667', '3. low': '126.28', '4. close': '127.71', '5. adjusted close': '127.71', '6. volume': '2401513', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-06': {'1. open': '127.8', '2. high': '128.06', '3. low': '126.3', '4. close': '126.72', '5. adjusted close': '126.72', '6. volume': '3345343', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-02': {'1. open': '130.3', '2. high': '130.56', '3. low': '127.24', '4. close': '127.79', '5. adjusted close': '127.79', '6. volume': '3040813', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-09-01': {'1. open': '128.4', '2. high': '129.8173', '3. low': '127.74', '4. close': '129.66', '5. adjusted close': '129.66', '6. volume': '3396219', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-31': {'1. open': '129.92', '2. high': '130.0', '3. low': '128.4', '4. close': '128.45', '5. adjusted close': '128.45', '6. volume': '3490380', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-30': {'1. open': '130.56', '2. high': '130.77', '3. low': '129.29', '4. close': '129.58', '5. adjusted close': '129.58', '6. volume': '2407888', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-29': {'1. open': '129.99', '2. high': '131.42', '3. low': '129.57', '4. close': '130.31', '5. adjusted close': '130.31', '6. volume': '2751308', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-26': {'1. open': '134.1', '2. high': '134.18', '3. low': '130.34', '4. close': '130.38', '5. adjusted close': '130.38', '6. volume': '4185254', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-25': {'1. open': '133.65', '2. high': '134.425', '3. low': '133.07', '4. close': '133.98', '5. adjusted close': '133.98', '6. volume': '2706005', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-24': {'1. open': '134.89', '2. high': '135.11', '3. low': '133.11', '4. close': '133.23', '5. adjusted close': '133.23', '6. volume': '2855421', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-23': {'1. open': '135.37', '2. high': '136.1', '3. low': '134.72', '4. close': '134.74', '5. adjusted close': '134.74', '6. volume': '4141798', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-22': {'1. open': '137.65', '2. high': '137.85', '3. low': '135.47', '4. close': '135.55', '5. adjusted close': '135.55', '6. volume': '3093629', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-19': {'1. open': '138.75', '2. high': '139.34', '3. low': '137.66', '4. close': '138.37', '5. adjusted close': '138.37', '6. volume': '3155842', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-18': {'1. open': '137.79', '2. high': '139.12', '3. low': '137.75', '4. close': '139.07', '5. adjusted close': '139.07', '6. volume': '3177726', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-17': {'1. open': '136.46', '2. high': '138.415', '3. low': '136.3', '4. close': '137.79', '5. adjusted close': '137.79', '6. volume': '3667568', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-16': {'1. open': '134.6', '2. high': '137.37', '3. low': '134.4517', '4. close': '136.56', '5. adjusted close': '136.56', '6. volume': '4313600', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-15': {'1. open': '132.96', '2. high': '135.19', '3. low': '132.24', '4. close': '134.93', '5. adjusted close': '134.93', '6. volume': '2791241', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-12': {'1. open': '132.62', '2. high': '134.09', '3. low': '131.98', '4. close': '134.01', '5. adjusted close': '134.01', '6. volume': '2767054', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-11': {'1. open': '132.36', '2. high': '133.225', '3. low': '132.0', '4. close': '132.54', '5. adjusted close': '132.54', '6. volume': '3501925', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-10': {'1. open': '130.75', '2. high': '131.78', '3. low': '130.34', '4. close': '131.5', '5. adjusted close': '131.5', '6. volume': '3663995', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-09': {'1. open': '129.92', '2. high': '130.79', '3. low': '129.12', '4. close': '129.47', '5. adjusted close': '129.47', '6. volume': '3495991', '7. dividend amount': '1.6500', '8. split coefficient': '1.0'}, '2022-08-08': {'1. open': '133.1', '2. high': '133.35', '3. low': '132.02', '4. close': '132.61', '5. adjusted close': '130.94125', '6. volume': '3825145', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-05': {'1. open': '131.25', '2. high': '132.67', '3. low': '131.07', '4. close': '132.48', '5. adjusted close': '130.812885906', '6. volume': '2586519', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-04': {'1. open': '132.15', '2. high': '132.2866', '3. low': '131.02', '4. close': '131.64', '5. adjusted close': '129.983456376', '6. volume': '3179789', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-03': {'1. open': '131.82', '2. high': '132.862', '3. low': '131.32', '4. close': '132.34', '5. adjusted close': '130.674647651', '6. volume': '3088532', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-02': {'1. open': '132.2', '2. high': '132.78', '3. low': '130.51', '4. close': '131.81', '5. adjusted close': '130.151317114', '6. volume': '4403633', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-08-01': {'1. open': '130.75', '2. high': '132.7', '3. low': '130.7', '4. close': '132.04', '5. adjusted close': '130.378422819', '6. volume': '4142099', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-29': {'1. open': '129.52', '2. high': '131.0', '3. low': '129.31', '4. close': '130.79', '5. adjusted close': '129.144152685', '6. volume': '5786815', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-28': {'1. open': '128.75', '2. high': '129.81', '3. low': '128.606', '4. close': '129.22', '5. adjusted close': '127.593909396', '6. volume': '3913680', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-27': {'1. open': '127.97', '2. high': '129.43', '3. low': '127.58', '4. close': '129.12', '5. adjusted close': '127.495167785', '6. volume': '4175625', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-26': {'1. open': '128.26', '2. high': '129.3', '3. low': '127.63', '4. close': '128.08', '5. adjusted close': '126.468255034', '6. volume': '3645313', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-25': {'1. open': '128.44', '2. high': '129.1257', '3. low': '127.9', '4. close': '128.54', '5. adjusted close': '126.922466443', '6. volume': '4702352', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-22': {'1. open': '127.03', '2. high': '128.32', '3. low': '125.71', '4. close': '128.25', '5. adjusted close': '126.636115772', '6. volume': '6467205', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-21': {'1. open': '128.75', '2. high': '128.81', '3. low': '125.13', '4. close': '127.15', '5. adjusted close': '125.549958054', '6. volume': '11975361', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-20': {'1. open': '130.7', '2. high': '130.72', '3. low': '128.06', '4. close': '129.18', '5. adjusted close': '127.554412752', '6. volume': '9882016', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-19': {'1. open': '131.58', '2. high': '132.56', '3. low': '127.72', '4. close': '130.88', '5. adjusted close': '129.233020134', '6. volume': '29690535', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-18': {'1. open': '140.15', '2. high': '140.31', '3. low': '137.7844', '4. close': '138.13', '5. adjusted close': '136.391786913', '6. volume': '8231694', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-15': {'1. open': '140.68', '2. high': '140.68', '3. low': '138.61', '4. close': '139.92', '5. adjusted close': '138.159261745', '6. volume': '4519320', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-14': {'1. open': '135.6', '2. high': '139.43', '3. low': '135.02', '4. close': '139.06', '5. adjusted close': '137.310083893', '6. volume': '5298351', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-13': {'1. open': '137.18', '2. high': '138.9', '3. low': '136.8', '4. close': '137.18', '5. adjusted close': '135.453741611', '6. volume': '4123213', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-12': {'1. open': '140.84', '2. high': '141.55', '3. low': '138.565', '4. close': '139.18', '5. adjusted close': '137.428573826', '6. volume': '3235571', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-11': {'1. open': '140.62', '2. high': '141.87', '3. low': '140.13', '4. close': '141.0', '5. adjusted close': '139.225671141', '6. volume': '3912773', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-08': {'1. open': '140.76', '2. high': '141.3203', '3. low': '139.82', '4. close': '140.47', '5. adjusted close': '138.702340604', '6. volume': '2820928', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-07': {'1. open': '138.91', '2. high': '141.325', '3. low': '138.83', '4. close': '140.83', '5. adjusted close': '139.057810403', '6. volume': '3897077', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-06': {'1. open': '138.0', '2. high': '139.14', '3. low': '137.13', '4. close': '138.08', '5. adjusted close': '136.342416107', '6. volume': '3237059', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-05': {'1. open': '139.97', '2. high': '139.97', '3. low': '135.27', '4. close': '137.62', '5. adjusted close': '135.888204698', '6. volume': '6274067', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-07-01': {'1. open': '141.0', '2. high': '141.67', '3. low': '139.26', '4. close': '141.12', '5. adjusted close': '139.344161074', '6. volume': '4012106', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-06-30': {'1. open': '139.58', '2. high': '142.46', '3. low': '139.28', '4. close': '141.19', '5. adjusted close': '139.413280201', '6. volume': '4878020', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-06-29': {'1. open': '142.74', '2. high': '143.5213', '3. low': '139.5', '4. close': '140.71', '5. adjusted close': '138.93932047', '6. volume': '4161491', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-06-28': {'1. open': '142.92', '2. high': '144.155', '3. low': '141.32', '4. close': '141.86', '5. adjusted close': '140.074848993', '6. volume': '4065202', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-06-27': {'1. open': '142.26', '2. high': '143.83', '3. low': '141.95', '4. close': '142.8', '5. adjusted close': '141.003020134', '6. volume': '3935968', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-06-24': {'1. open': '139.2', '2. high': '142.37', '3. low': '139.13', '4. close': '142.06', '5. adjusted close': '140.272332215', '6. volume': '11493012', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-06-23': {'1. open': '137.14', '2. high': '138.62', '3. low': '136.5', '4. close': '138.44', '5. adjusted close': '136.697885906', '6. volume': '4547925', '7. dividend amount': '0.0000', '8. split coefficient': '1.0'}, '2022-06-22': {'1. open': '136.1', '2. high': '138.18', '3. low': '136.03', '4. close': '137.08', '5. adjusted close': '135.355', '6. volume': '3791635', '7. dividend amount': '

In [218]:
import requests, json
url = 'https://www.alphavantage.co/query?function=OVERVIEW&output=json&symbol=IBM&apikey=MD27QTTVAK3AJBUQ'
r = requests.get(url)
data = r.json()
print(data.keys())

dict_keys(['Symbol', 'AssetType', 'Name', 'Description', 'CIK', 'Exchange', 'Currency', 'Country', 'Sector', 'Industry', 'Address', 'FiscalYearEnd', 'LatestQuarter', 'MarketCapitalization', 'EBITDA', 'PERatio', 'PEGRatio', 'BookValue', 'DividendPerShare', 'DividendYield', 'EPS', 'RevenuePerShareTTM', 'ProfitMargin', 'OperatingMarginTTM', 'ReturnOnAssetsTTM', 'ReturnOnEquityTTM', 'RevenueTTM', 'GrossProfitTTM', 'DilutedEPSTTM', 'QuarterlyEarningsGrowthYOY', 'QuarterlyRevenueGrowthYOY', 'AnalystTargetPrice', 'TrailingPE', 'ForwardPE', 'PriceToSalesRatioTTM', 'PriceToBookRatio', 'EVToRevenue', 'EVToEBITDA', 'Beta', '52WeekHigh', '52WeekLow', '50DayMovingAverage', '200DayMovingAverage', 'SharesOutstanding', 'DividendDate', 'ExDividendDate'])